<!--
<a href="#navbar" id="menu-burger" class="menu-burger">Menu
  <span class="nav-icon"></span>

  <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
    <circle fill="transparent" stroke="#000000" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
  </svg>
</a>
-->


	<!-- <div class='wrap'> -->
<nav id="navbar", class="navbar">
	<!-- <div class="wrap"> -->
		<label class="toggle" onclick=""  style="width:100px">
			<input id="view" type="checkbox" />
			<ul class="menu-icon">
				<li>Menu</li>
				<li class="icon floatright">
					<span class="burger">☰</span>
					<span class="cross">✕</span>
				</li>
			</ul>

		  <ul class="navigation" id="navigation">
			  <li><a href="{{ '/' | prepend: site.baseurl }}" {% if page.url == '/' %}class="active"{% endif %}>Home</a></li>
			  <li><a href="{{ '/howto/' | prepend: site.baseurl }}" {% if page.url == '/howto/' %}class="active"{% endif %}>How To Submit</a></li>
			  <li><a href="{{ '/about/' | prepend: site.baseurl }}" {% if page.url == '/about/' %}class="active"{% endif %}>About</a></li>
			  <li><a href="https://github.com/MC-Notes" target="_blank"><i class="icon-github"></i>Github</a></li>
		  </ul>
		</label>
	<!-- </div> -->
	<!-- </div> -->
</nav>